body{
	background-color: linen;
	font-family: 'Rubik', sans-serif; 
	font-size: 16px;
	font-weight: 300;
	transition: 1.5s;
}

*,*::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.cím{
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

/*--Layout--*/
	body{
		display: grid;
		grid-template-areas: 
			"fejléc"
			"main"
			"lábléc";
		grid-template-rows: max-content 1fr max-content;
		height: justify;
		min-height: 130vh;
	}
	header{
		background-color: linen;
		grid-area: fejléc;
		border-bottom: 1.5px solid white;
	}
	main{
		background-color: lavender;
		grid-area: main;
		background-image: url("intro_pics/darkpurplefield.jpg");
		background-repeat: repeat-y;
		background-attachment: fixed;
	}
	footer{
		background-color: lightgrey;
		grid-area: lábléc;
	}
/*--Layout_end--*/

/*--General--*/
	a{
		text-decoration: none;
		transition: 0.3s;
		color: darkslateblue;
		padding: 5px;
	}
	a:hover{
		font-weight: 1000;
		font-size: 1.45rem;
	}
/*--General_end--*/

/*--common_header*/
	header{
		line-height: 2rem;
		font-size: 22px;
		padding: 5px;
	}
/*--common_header_end*/
.weboldal{
	position: absolute;
	right:1rem;
	top: 2rem;
}

/*--Main--*/
	main{
		line-height: 2rem;
		font-size: 18px;
		padding:20px;
		text-align: left;
		padding-top: 50px;
	}
	.bemutatkozás{
		display: inline-block;
		margin:10px;
		padding: 25px;
		vertical-align: top;
		background-color: linen;
		border-radius: 20px;
	}
	.text1{
		width: 70%;
	}
	.bemutat{
		border: 2px solid linen;
		border-radius: 20px;
		max-width: 900px;
		padding: 20px; 
		margin:10px 0px;
	}
	.aláhúz{
		text-decoration: underline;
	}
	.clearfix::after{
		content: "";
		clear: both;
		display: table;
	}
	#gpk{
		width:70px;
		float: right;
	}

	/*--hobbies--*/
		.képmutat{
			margin:10px;
			display: inline-block;
		}
		.képmutat img{
			display: none;
			width: 200px;
			margin: 10px;
		}
		.képmutat:hover{
			cursor: pointer;
			text-decoration: underline;
		}
		.képmutat:hover img{
			display: block;
		}
	/*--hobbies_end--*/

	.profil{
		padding:0px;
		max-width: 300px;
		margin: 20px 25px;
	}
	.profil img{
		display: block;
		width: 260px;
		max-width: 300px; 
	}
	summary{
		font-size: 30px;
		line-height:40px;
	}
	summary:hover {
		cursor: pointer;
		font-size: 32px;
	}
/*--Main_end--*/

/*--footer--*/
	footer{
		padding: 5px;
	}
	#elérhetőség{
		text-decoration: underline;
	}
	.elérhetőség_menu{
		padding:15px 50px;
		margin: 2px;
		text-align:center;
		display: inline-block;
		transition: 1.5s;
	}
	.elérhetőség_menu:hover span{
		cursor: pointer;
		color: linen;
	}
	.elérhetőség_menu:hover {
		cursor: pointer;
	}
	.elérhetőség_menu div{
		display: none;
	}
	.elérhetőség_menu:hover div{
		display: inline;
	}
/*--footer_end--*/