body{
	background-color: linen;
	font-family: 'Rubik', sans-serif; 
	font-size: 16px;
	font-weight: 300;
	transition: 1.5s;
}

*,*::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.cím{
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

/*--Layout--*/
	body{
		display: grid;
		grid-template-areas: 
			"fejléc"
			"main"
			"lábléc";
		grid-template-rows: max-content 1fr max-content;
		height: justify;
		min-height: 130vh;
	}
	header{
		background-color: linen;
		grid-area: fejléc;
		border-bottom: 1.5px solid white;
	}
	main{
		background-color: linen;
		grid-area: main;
		background-image: url("sub3_pics/darkpurplefield.jpg");
		background-repeat: repeat-y;
		background-attachment: fixed;
	}
	footer{
		background-color: lightgrey;
		grid-area: lábléc;
	}
/*--Layout_end--*/

/*--General--*/
	a{
		text-decoration: none;
		transition: 0.3s;
		color: darkslateblue;
		padding: 5px;
	}
	a:hover{
		font-weight: 1000;
		font-size: 1.45rem;
	}
/*--General_end--*/

/*--common_header*/
	header{
		line-height: 2rem;
		font-size: 22px;
		padding: 5px;
	}
/*--common_header_end*/
.weboldal{
	position: absolute;
	right:1rem;
	top: 2rem;
}
main{
	font-size: 20px;
	padding:20px;
	text-align: center;
	padding-top: 100px;
}
.main{
	background-color: linen;
	margin:30px;
	padding: 5px;
	border-radius: 20px;
	line-height: 4rem;
}
ul{
	font-size: 15px;
	line-height: 2rem
}
details{
	font-size: 15px;
	line-height: 4rem;
}
summary:hover {
	cursor: pointer;
	font-size: 17px;
}
.summary{
	line-height: 3.5rem;
}
.rejtett{
	line-height: 2rem;
	margin: 30px 50px;
}

/*--footer--*/
	footer{
		padding: 5px;
	}
	#elérhetőség{
		text-decoration: underline;
	}
	.elérhetőség_menu{
		padding:15px 50px;
		margin: 2px;
		text-align:center;
		display: inline-block;
		transition: 1.5s;
	}
	.elérhetőség_menu:hover span{
		cursor: pointer;
		color: linen;
	}
	.elérhetőség_menu:hover {
		cursor: pointer;
	}
	.elérhetőség_menu div{
		display: none;
	}
	.elérhetőség_menu:hover div{
		display: inline;
	}
/*--footer_end--*/